<svg id="logo-svg" viewBox="0 0 444 102" style="background-color:#ffffff00" version="1.1"
	xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
	x="0px" y="0px" width="444px" height="80px"
>
<text stroke="null" xml:space="preserve" text-anchor="start" font-family="Montserrat, sans-serif" font-size="75" id="svg_1" y="90" x="0" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#ffffff">O-Manager</text>
</svg>
